html {
  font-family: Verdana,Geneva,sans-serif;
  font-weight: 700;
  line-height: 150%;
}
body {
  background: #222222;
  color: #CCCCCC;
  margin: 20px 25% 20px 25%;
  border: 0;
  padding: 40px;
}
h1, h2 {
  text-align: center;
}
hr {
  margin: 0 auto;
  margin-top: 20px;
  width: 20%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
ul {
  list-style-type: square;
  padding-top: 20px;
  text-align: justify;
}
li {
  padding-bottom: 25px;
}
p {
  text-align: justify;
}
